.wadah {
  padding: 13px 22px;
  font-size: 14px;
  color: black;
}

td {
  color: #5d5e60
}

.table tbody tr td {
  padding: 15px;
}

#main-content .wrapper .pull-right {
  border-radius: 11px;
  padding: 9px 29px
}

.content-panel {
  margin-top: 20px;
}

.site-footer {
  bottom:0;
  width:100%;
}

.notify-row {
  margin-left: 52px
}

td .fa {
  padding: 7px;
}

tr td .fa-info {
  padding: 7px 11px
}

@media screen and (max-width: 500px) {
  .content-panel {
    margin-top: 45px;
  }
}

.modal-header > h5 {
  float: left;
  font-size: 19px;
}

form-control {
  height: 39px;
  border-radius: 5px;
}

label {
  font-size: 14px;
  margin-bottom: 15px;
}

label ~ label {
  margin-top: 14px;
}

/* warining alert */
.gritter-item {
  background: lemonchiffon;
  color: sienna;
  padding: 15px;
  border-radius: 8px
}

.gritter-top, .gritter-bottom {
  height: 0
}

.gritter-without-image p {
  font-size: 17px;
  font-weight: bold;
}
